 
.container {
    border: 2px solid #f9f9f9;
    background-color: #d8d8d8;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}
 
.darker {
    border-color: rgb(27, 15, 103);
    background-color: rgb(27, 15, 103);
} 
.container::after {
    content: "";
    clear: both;
    display: table;
}
 
.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
} 
.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
} 
.time-right {
    float: right;
    color: rgb(0, 0, 0);
}   
.time-left {
    float: left;
    color: rgb(255, 255, 255);
}